div {
    display: flex;
    flex-direction: column;
    background-color: var(--main);
    justify-content: center;
    margin: 1%;
}

body {
    background-color: var(--main);
}

#mainContainer{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap:wrap;
}